.centralize {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center {
  text-align: center;
}
.user-image {
  height: 50px;
  border-radius: 50%;
}
.small-icon {
  height: 30px;
}

#activeUserListContainer .row,
#requestsListContainer .row {
  display: inline-flex;
}
.full-width {
  width: 100%;
}
